################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CoreERP/CoreERP/appsettings.json
/CoreERP/CoreERP/appsettings.json
/CoreERP/.vs/CoreERP/v17/DocumentLayout.json
/.gitignore
