@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    <h3 class="">First step to Growth >></h3>
    <h2>Register your Company here :</h2>
    <form action="/submit" method="post">
        <label for="name">Name</label>
        <input type="text" id="name" name="Name" required>

        <label for="address">Address</label>
        <input type="text" id="address" name="Address">

        <label for="gstnumber">GST Number</label>
        <input type="text" id="gstnumber" name="Gstnumber">

        <label for="phone">Phone</label>
        <input type="tel" id="phone" name="Phone">

        <label for="email">Email</label>
        <input type="email" id="email" name="Email">

        <label for="website">Website</label>
        <input type="url" id="website" name="Website">

        <button type="submit">Submit</button>
    </form>
}
